<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
<div style='padding:50px;'>
	<h1><%= title %></h1>
</div>

  <% for( var i=0; i< blogs.length; i++) {%>
  <a style='float:left;margin-top:10px;'><%= blogs[i].Username %></a></br></br>
  <a style='float:left;margin-top:10px;'><%= blogs[i].CreateDate %></a></br></br>
  <a style='clear:both'><%= blogs[i].Article %></a>
  <a href='/users/message/'+article.id, style='float:right;margin-top:105px;margin-right:20px;'> Leave a message </a>
  <hr style='margin-top:110px;'></hr>
  <% } %>
  </body>
</html>
